<div class="mt-5">
    <div class="container-fluid footer">
      <div class="row pt-4">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
        <img src="{{info.logo.url}}" alt="" style="height: 200px;">
          <h2>Designed By Gbolahan Salvador</h2>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <h2>Category</h2>
          <ul class="list-unstyled">
            <li><a href="/mercedes.html">Mercedes Cars</a></li>
            <li><a href="/lexus.html">Lexus Cars</a></li>
            <li><a href="/honda.html">Honda Cars</a></li>
            <li><a href="/toyota.html">Toyota Cars</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <h2>quick link</h2>
          <ul class="list-unstyled">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="{% url 'products' %}">Product</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <h2>follow us</h2>
          <ul class="list-unstyled">
            <li><a href=""><i class="bi bi-facebook"></i>Facebook</a></li>
            <li><a href=""><i class="bi bi-twitter"></i>Twitter</a></li>
            <li><a href=""><i class="bi bi-instagram"></i>Instagram</a></li>
            <li><a href=""><i class="bi bi-tiktok"></i>Tiktok</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row text-center footer2">
      <div class="col-12">
        <p class="pt-3">&copy; copyright 2022 slick boom | all right reserved | developed by team slick boom</p>
      </div>
    </div>
  </div>