*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --bg: white;
    --icon: black;
    --text: black;
    --card: black;
}
.dark{
    --bg: black;
    --icon: white;
    --text: white;
    --card: black;
    --foot: white;
}
body{
    background: var(--bg) !important;
    color: var(--text) !important;
}
.fazzy{
    margin-left: 3%;
    cursor: pointer;
}
/* styling navbar  */
.navbar{
    background-color: orange;
}
.navbar-nav .nav-link{
    color: black;
    font-weight: 500;
}
.navbar-nav .nav-link img{
    border-radius: 100px;
}
.dropdown .dropdown-menu{
    background-color: orange;
}
.dropdown .dropdown-menu .dropdown-item:hover{
    background-color: black;
    color: white;
}
.coollapse form button{
    background-color: black;
    color: white;
}
.coollapse form button:hover{
    background-color: black;
    color: white;
}
/* styling navbar done  */

/* styling carousel  */
.carousel-control-prev span i{
    font-size: 40px;
    color: orange;
}
.carousel-control-next span i{
    font-size: 40px;
    color: orange;
}
.carousel-indicators button{
    color: orange;
}
/* styling carousel done  */

/* styling content  */
.welcome h1{
    text-transform: capitalize;
    color: brown;
    font-weight: 700;
    font-size: 50px;

}.benz img{
    width: 100%;
    height: 70vh;
}
.card-body{
    text-align: center;
    margin-top: 10%;
    color: var(--card) !important;
}
.container .card{
    border: none;
}
.container .card .card-body{
    box-shadow: 5px 10px white;
    height: 42vh;
}
/* styling content done  */

/* styling footer  */
.footer{
    background-color: #5555;
    padding-top: 3%;
}
.footer h2{
    text-transform: capitalize;
    color: white;
    font-size: 20px;
}
.footer ul a{
    text-decoration: none;
    color: var(--foot);
}
.footer ul a:hover{
    color: orange;
}
.list-unstyled ul{
    list-style: none;
    color: black !important;
}
footer ul a:hover{
    color: orange !important;
}
.footer2{
    background-color: orange; 
}
.footer2 p{
    font-weight: 500
}
/* styling footer done  */

/* styling product page  */
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url(/img/toyota_banner.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.product h1{
    text-align: center;
    color: orange;
    text-transform: capitalize;
    padding-top: 3%;
    padding-bottom: 2%;
}
.product .card{
    border: 2px solid orange;
    border-radius: 10%;
    box-shadow: 5px 5px 5px 5px black;
    transition: 1s;
}
.product .card:hover{
    transform: translateY(-30px);
} 
.product .card img{
    padding: 3%;
    border-bottom: 4px solid orange;
}
.pagination a{
    color: #ffa500;
    font-weight: 500;
}
.pagination li a:hover{
    background: #ffa500 !important;
    color: black;
}
/* styling product page  done */

/* styling detail page  */
.det{
    border-right: 2px soild orange !important;
    height: 360px;
}
.det img{
    height: 40vh !important;
}
.detail{
    border: 2px soild orange !important;
    box-shadow: 0 0 50px 0 orange;
    height: 60vh ;
}
.detail .det ul i{
    color: orange;
}
.detail h5{
    text-transform: capitalize;
    font-weight: bold;
}
.card-body p{
    text-transform: capitalize;
    font-size: 15px;
    font-family: fantasy;
    word-spacing: 10px;
}
.card-body span{
    font-weight: 500;
}
.but p{
    font-size: 20px;
    color: orange;
}
/* styling detail page done */

/* styling contact page  */
.contact h1{
    text-transform: capitalize;
    font-weight: 600;
    color: orange;
}
.contact form{
    outline: 2px soild orange;
    padding: 2%;
    
}
/* styling contact page done  */

/* styling register  */
.login{
    width: 40% !important;
}.nav-item .active{
    background: #ffa500 !important;
    color: black !important;
    font-weight: 500;
}
.login #tab-register{
    font-weight: 500;
}
.login #tab-login{
    font-weight: 500;
}
.form-check #logincheck{
    background: #ffa500;
    border: none;
    color: black;
}
.login button{
    width: 100%;
    color: black;
    background: #ffa500;
}
.login button:hover{
    background: rgb(225, 186, 57) !important;
    color: black !important;
}
.pass{
    position: relative;
}
.show{
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
}
.show .bi-eye-fill{
    display: none;
}
.show.hide .bi-eye-fill{
    display: block;
}
.show.hide .bi-eye-slash-fill{
    display: none;
}
/* styling register done  */

/* styling cart  */
.cart table{
    width: 100%;
    /* margin-left: 15%;  */
    /* margin-right: 15;  */
    outline: 2px solid #ffa500;
    border-collapse: collapse !important;
}
.title h1{
    text-transform: capitalize;
    color: brown;
}
.cart thead{
    background-color: #ffa500;
    text-align: center;
}
.cart th{
    text-transform: capitalize;
}
.item td button{
    border: none;
}
.cart tbody{
    text-align: center;
}
.cart tbody i{
    color: red;
}
.cart td{
    text-transform: capitalize;
}
.item td{
    border: 2px solid #ffa500;
}
.subtot td{
    font-weight: 700;
}
.cardbut button{
    text-transform: capitalize;
    margin-bottom: 10%;
    margin-top: 10%;
}
.cartbut button i{
    color: white;
}
/* styling cart done  */

/* styling checkout  */
.cart h1{
    text-transform: capitalize;
    color: orangered;
}
.total td{
    font-weight: 700;
    font-size: 30px;
}
/* styling checkout done  */

/* styling profile  */
.left{
    text-align: center;
}
.left img{
    border-radius: 100%;
    outline: black;
    margin-top: 10%;
}
.left h4{
    text-transform: capitalize;
    padding-top: 5%;
    font-size: 20px;
}
.left h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    color: orangered;
}
.left ul{
    padding-top: 15%;
}
.left ul a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}
.left ul a i{
    color: #ffa500;
}
.right{
    padding-top: 5%;
}
.right form{
    width: 70%;
    padding: 3%;
    outline: 2px solid #ffa500 !important;
}
.rigth button{
    text-transform: capitalize;
    width: 100%;
}
/* styling profile done  */

/* styling callback */
.right p{
    text-transform: capitalize;
    color: black;
    font-size: 20px;
}
.right span{
    color: orangered;
    font-weight: 500;
}
/* styling callback done */
@media (min-width:320px) and (max-width:768px){
    .caro img{
        height: 40vh;
    }
    .welcome h1{
        text-transform: capitalize;
        color: brown;
        font-weight: 700;
        font-size: 30px;
    }
    .title::after{
        content:"";
        display: block;
        width: 900px;
        height: 3px;
        background-color: black;
        margin-left: auto;
        margin-right: auto;
    }
    .home .card img{
        height: 20px;
    }
}